body {
	background: #000000;
}

/* #myLenticular {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: black;
} */

/* .lenticular-set{
	text-align: center!important;
} */

/* .lenticular-set img{
	margin-right: auto!important;
    margin-left: auto!important;    
	display: block!important;
	max-width: 100%;
    height: auto;
    vertical-align: middle;
} */